<div class="row">

  <legend>Ajouter un employé</legend>

  <form name="employeeForm" class="simple-form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Prénom: <input type="text" ng-model="employee.firstname" class="form-control" required/></label><br/>
        </div>
        <div class="form-group">
          <label>Nom: <input type="text" ng-model="employee.lastname" class="form-control" required/></label><br/>
        </div>
        <div class="form-group">
          <label>E-mail: <input type="email" ng-model="employee.email" class="form-control" required/></label><br/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Identifiant: <input type="text" ng-model="employee.identifier" class="form-control" required/></label><br/>
        </div>
        <div class="form-group">
          <label>Date de naissance: <input type="date" ng-model="employee.dateOfBirth" class="form-control"/> (format
            jj/mm/aaaa)</label><br/>
        </div>
      </div>
      <div class="form-group">
        <label><input type="radio" ng-model="employee.gender" value="MALE"/> Homme</label>
        <label><input type="radio" ng-model="employee.gender" value="FEMALE"/> Femme</label><br/>
      </div>
      <div class="form-group">
        <label><input type="checkbox" ng-model="employee.active"/> Actif</label><br/>
      </div>
    </div>

    <button type="submit" class="btn btn-success" ng-disabled="!employeeForm.$valid" ng-click="createEmployee(employee)">Valider</button>
  </form>

</div>
